* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  background-color: antiquewhite;
  padding: 1rem;
  letter-spacing: 3px;
}

header nav {
  background-color: rgb(236, 210, 171);
}

header nav ul.page {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

header nav ul li a:hover {
  color: brown;
  cursor: pointer;
}

.index {
  display: flex;
  flex-wrap: wrap;
}
.desctech {
  padding: 1.5rem;
}

main .left {
  flex: 1 1 200px;
}

main .left img {
  width: 80%;
  padding: 1rem;
}

section .left table {
  margin: 1rem;
}

section.right {
  flex: 4 1 400px;
}

.context,
.teacherIntor {
  padding: 1rem;
}

.classTitle,
.contextTitle {
  margin-top: 10px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

tr,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.desc {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chapter {
  padding-left: 35px;
  padding-top: 25px;
}

.ch {
  padding-left: 50px;
  line-height: 30px;
}

.li-container ul {
  margin: 0;
  padding-left: 100px;
  line-height: 36px;
}

.classEnv,
.linkEnv {
  padding: 1rem;
}
